<ng-template #content>
  @if (icon(); as ic) {
    @if (iconPosition() === 'left') {
      <svg class="btn__icon" [lucideIcon]="ic" aria-hidden="true"></svg>
    }
  }
  <span class="btn__label"><ng-content /></span>
  @if (icon(); as ic) {
    @if (iconPosition() === 'right') {
      <svg class="btn__icon" [lucideIcon]="ic" aria-hidden="true"></svg>
    }
  }
</ng-template>

@if (href()) {
  <a
    [class]="classes()"
    [href]="disabled() ? null : href()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-disabled]="disabled() ? true : null"
    [attr.tabindex]="disabled() ? -1 : null"
    (click)="onAnchorClick($event)"
  >
    <ng-container [ngTemplateOutlet]="content" />
  </a>
} @else if (routerLink()) {
  <a
    [class]="classes()"
    [routerLink]="disabled() ? null : routerLink()"
    [queryParamsHandling]="queryParamsHandling()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-disabled]="disabled() ? true : null"
    [attr.tabindex]="disabled() ? -1 : null"
    (click)="onAnchorClick($event)"
  >
    <ng-container [ngTemplateOutlet]="content" />
  </a>
} @else {
  <button
    [class]="classes()"
    [attr.type]="type()"
    [disabled]="disabled()"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-container [ngTemplateOutlet]="content" />
  </button>
}
